
{% extends "macros.html"%}
{% block content%}
<!-- <div class="jumbotron">    -->
  <br>
  <h3 class="text-center">QUOTE OF THE DAY</h3>
    <h5 class="bg-info text-center" style="color: rgb(1, 1, 36)";><em>{{ quote.quote}}</em></h5>
    <p><small style="color: blue;text-align: center;"><strong>--Author</strong> {{quote.author}}</small></p> <br> <br>
    
<!-- </div> -->
<br>
{%  for post in posts %}
<article class="media content-section">
<div class="media-body">
  <div class="article-metadata">
    <h2> <a class="article-title" href="{{url_for('.view_post',id=post.id)}}">{{ post.title }}</a> </h2>
    <small>Category: <a class="mr-2" href="#">{{ post.category }}</a></small>
    <small class="text-muted">Posted by {{ post.user.username }}</small>
  </div>
  <p class="article-content">{{ post.content }}</p>
  <p><a class="btn btn-info" href="{{url_for('.view_post',id=post.id)}}">Add your comment</a></p>
</div></article>

{%  endfor %}
{% endblock%}
    