<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}">

    {% if title%}
        <title>Pitch Blog -{{ title }}</title>
    {% else %}
        <title>Pitch Blog</title>
    {% endif%}
    <title>Pitch Perfect</title>
</head>
<body>
  <div class="card">
    <div class="card-body">
      <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <strong><a class="navbar-brand mr-4 " style="font-weight: bolder; font-size: xx-large;" href="/"><em>Blog</em>Spot</a></strong>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link font-weight-bold" href="{{url_for('main.about')}}">About</a>
                <li><a class="nav-item nav-link font-weight-bold" href="{{url_for('main.new_post')}}">Add post</a></li>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav font-weight-bold">
                {% if current_user.is_authenticated %}
                  <li class="nav-item nav-link">{{current_user.username}}</li>
                  <li><a class="nav-item nav-link" href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
                  <li><a class="nav-item nav-link" href="{{url_for('auth.logout')}}">Sign out</a></li>
                  {% else %}
                <a class="nav-item nav-link"  href="{{url_for('auth.login')}}">Login</a>
                <a class="nav-item nav-link" href="{{url_for('auth.register')}}">Register</a>
                {%endif%}
              </div>
            </div>
          </div>
        </nav>
    </header>
    <br> <br>
    <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, messege in messeges %}
                    <div class="alert alert-{{ category}}">
                        {{ messege }}
                    </div>
                {% endfor%}
            {%endwith%}
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <h3>Main Menu</h3>
              <p class='text-muted'>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light"><a href="#">Latest Posts</a></li>
                  <li class="list-group-item list-group-item-light"><a href="#">Blog of The Week</a></li>
                  <li class="list-group-item list-group-item-light"><a href="#">Events</a></li>
                  <li class="list-group-item list-group-item-light"><a href="#">Promotions</a></li>
                  <li class="list-group-item list-group-item-light"><a href="#">Services Offered</a></li>
                  <li class="list-group-item list-group-item-light"><a href="#">Subscribe</a></li>
                  <li class="list-group-item list-group-item-light"><a href="#">Members</a></li>
                  <li class="list-group-item list-group-item-light"><a href="#">Gallary</a></li>
                  <li class="list-group-item list-group-item-light"><a href="#">chill spot</a></li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </main>
    </div>    
  </div>
   
  
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>